
.swiper-navigation-holder {
    display: flex;
    justify-content: center;
    padding: 4rem 1rem 1rem 1rem;

    .swiper-navigation {
        z-index: 5;
        @apply rounded;
        @apply border-4;
        @apply text-black;
        @apply border-grey-lighter;
        
        outline: 0;
        width: 3.5rem;
        height: 3.5rem;
        display: block;
        position: relative;
        transform: rotate(45deg);
    
        .icon {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    
        &.is-prev {
            margin-right: 1rem;
        }
    
        &.is-next {
            margin-left: 1rem;
        }

        &.is-disabled {
            opacity: 0.2;
        }
    }
    
    @screen md {
        left: 0;
        right: 0;
        top: 50%;
        padding: 1rem;
        position: absolute;
        pointer-events: none;
        justify-content: space-between;

        .swiper-navigation {
            top: 50%;
            bottom: auto;
            pointer-events: all;

            &.is-prev,
            &.is-next {
                margin: 0;
            }
        }
    }
}
