$hamburger-color: config('colors.white');

$button-weight: config('fontWeights.bold');

$hr-background-color: config('colors.white-a35');

$select-arrow-color: config('colors.white');

$subtitle-weight: config('fontWeights.bold');
